*{
	margin:0;
	padding:0;
}
body{
	 width: 6.4rem; 
	height: 100%;
	padding-top: 1rem;
	/* padding-bottom: 1rem; */
	
}


/* 我的评论 */
.jhSchool{
	width:6.4rem;
	height:1rem;
	background-color:#393a3f;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	text-align:center;
	line-height:1rem;

	position: fixed;
	top: 0;
	left: 0;
	z-index:10;/* 当前显示在最前面 */
}
.arrowDown img{
	width:0.2rem;
	height:0.4rem;
	margin-left:0.25rem;
	vertical-align:middle;
}
.jhSchool p{
	color:white;
	font-size:0.35rem;
	margin-left:2rem;
}

/* 评论的内容 */
.myComment{
	background: #f0f6fa;
    padding: 0.1rem 0;
}
.bg{
	background-color: #f0f6fa;
    position: absolute;
    top: 1rem;
    left: 0;
    width: 6.4rem;
    height: 6rem;
    bottom: 0;
    z-index: -1;
}
.commentList{
	background: white;
    margin: 0.2rem;
    font-size:0.22rem;
}
.contentItems{
	border-bottom: 0.005rem solid #e6e0e0;
    padding: 0.2rem 0.2rem 0.2rem 0;
    margin:0 0.2rem;
}
.commentName,.reply{
	color:#f4915e;
}
.commentTime{
	margin-top: 0.1rem;
    font-size: 0.2rem;
    color:#999999;
}
.commentRout{
	margin:0.2rem;
	padding:0 0 0.2rem 0;
}

.commentRout p{
	display:inline-block;
	width:5.3rem;
	/* border:0.01rem solid red; */
}
.courseName{
	color:#3f9dec;
}
.courseLink{
	height:0.25rem;
	vertical-align:middle;
}
